* {
    margin: 0;
    padding: 0;
}
#chart-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#chart-container{
    width: 600px;
    height: 400px;
}

img.animated-gif{
    width: 100%;
}