* {
    margin: 0;
    padding: 0;
}
#uns-income {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
#uns-income{
    width: 100%;
    height: 500px;
}

img.china-gif{
    width: 100%;
}

img.gif{
    width: 100%;
}